* {
	margin: 0;
	padding: 0;
	user-select: none;
}
@font-face {
	font-family: 'GTWalsheim';
	src: url('GTWalsheimProRegular.eot');
  src: url('GTWalsheimProRegulard41d.eot?#iefix') format('embedded-opentype'), 
       url('GTWalsheimProRegular.html') format('woff2'), 
       url('GTWalsheimProRegular.woff') format('woff'),
       url('GTWalsheimProRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SCTO';
	src: url('SctoGroteskA-Regular.eot');
  src: url('SctoGroteskA-Regulard41d.eot?#iefix') format('embedded-opentype'), 
       url('SctoGroteskA-Regular.html') format('woff2'),
       url('SctoGroteskA-Regular.woff') format('woff'), 
       url('SctoGroteskA-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #fafafa;
	color: black;
	font-family: 'SCTO', sans-serif;
}
nav {
	width: 85%;
	text-align: center;
	height: 120px;
	font-family: 'SCTO', sans-serif;
	font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1920 - 300)));
	letter-spacing: 0.4px;
	display: flex;
	padding-top: 100px;
	margin: 0 auto;
	text-transform: uppercase;
}
nav p {
	flex: 1;
}
nav p:nth-child(1) {
	text-align: left;
}
nav p:nth-child(3) {
	text-align: right;
}
nav p:nth-child(4) {
	display: none;
}
.nav-link {
	position: relative;
	text-decoration: none;
	color: black;
}
.nav-link:after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: black;
	transition: width .4s ease;
	-webkit-transition: width .4s ease;
}
.nav-link:hover:after {
	width: 100%;
	left: 0;
}
header,
footer {
	display: flex;
	text-align: center;
	flex-direction: column;
	width: 85%;
	margin: 0 auto;
}
.big-images {
	animation-delay: 3s;
	animation-fill-mode: forwards;
	animation: loaderBigImage 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.big-images img {
	width: 50vw;
	align-self: center;
}
.big-images {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
header h1 {
	font-family: 'GTWalsheim', sans-serif;
	width: 100%;
	font-weight: 400;
	text-transform: uppercase;
	font-size: calc(140px + (280 - 140) * ((100vw - 300px) / (1920 - 300)));
	line-height: calc(140px + (240 - 140) * ((100vw - 300px) / (1920 - 300)));
	z-index: 2;
}
.hero-title-mobile {
	display: none;
}
.intro {
	width: 100%;
	margin-top: 340px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.intro p {
	max-width: 11em;
	font-size: 7vw;
	text-align: left;
	line-height: 1.3;
	transition: .4s ease;
}
.intro p a {
	opacity: 1 !important;
}
.chapter-1,
.chapter-2,
.chapter-3,
.chapter-case {
	overflow: hidden;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.intro-small {
	display: block;
	width: 50%;
}
.intro-small p {
	float: right !important;
	margin-top: 200px;
	transition: .3s ease;
}
.intro-small a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding-bottom: 4px;
	text-decoration: none;
	color: black
}
.intro-small a:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	transition: .4s ease;
}
.intro-small img:nth-child(1) {
	position: absolute;
	z-index: -1;
	max-width: 400px;
	width: 25%;
	left: 0;
	visibility: visible;
	transition: margin-left .5s ease-in;
	margin-left: 5%;
}
.text-link {
	text-decoration: underline;
	color: black;
	transition: opacity .3s ease;
}
.text-link:hover {
	opacity: .7;
}
.chapter-2 {
	background-color: black !important;
	color: #fafafa;
	padding-top: 320px;
}
.chapter-case {
	background-color: #f4f4f4;
	color: black;
}
main .chapter-case:nth-child(2) {
	background-color: black;
}
.project-credits {
	width: 100%;
	background-color: #f4f4f4;
	padding-top: 192px;
	padding-bottom: 316px;
}
.project-credits div {
	width: 60vw;
	min-width: 980px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-between;
}
.project-credits ul li:nth-child(1) {
	font-size: 24px;
	font-weight: 600;
}
.project-credits ul li:nth-child(2) {
	margin-top: 60px;
}
.project-credits ul li:nth-child(n+2) {
	opacity: .6;
	font-size: 18px;
	line-height: 2.2;
}
.credits-link {
	opacity: .6;
	transition: 3s ease;
}
.credits-link:hover {
	opacity: 1 !important;
	transition: .3s ease;
}
.project-credits div ul {
	flex: 1;
}
.project-credits a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid black;
}
.social-in-between {
	height: 120vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}
.social-in-between p {
	font-size: calc(90px + (160 - 90) * ((100vw - 300px) / (1920 - 300)));
	text-align: center;
	width: 100%;
	z-index: 8;
}
.social-in-between p span {
	transition: opacity .4s ease;
}
.social-in-between p a {
	text-decoration: none;
	color: #fafafa;
}
.social-in-between img:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 37%;
	max-width: 600px;
	margin-left: 7.5%;
	margin-top: -4%;
	opacity: .6;
}
.social-in-between img:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
	max-width: 600px;
	margin-right: 7.5%;
	margin-bottom: -4%;
	opacity: .6;
	transition: opacity .3s ease;
}
.underline {
	border-bottom: 4px solid white;
}
.black {
	background-color: black !important;
	color: #fafafa;
}
.big-number {
	font-family: 'GTWalsheim', sans-serif;
	font-weight: 400;
	font-size: calc(140px + (400 - 140) * ((100vw - 300px) / (1920 - 300)));
	line-height: 0.9;
	width: 110vw;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.3;
}
.titles-mobile {
	display: none;
}
.chapter-1 h2,
.chapter-2 h2,
.chapter-3 h2,
footer h2,
.chapter-case h2 {
	width: 85%;
	max-width: 1480px;
	font-family: 'SCTO', sans-serif;
	font-size: calc(40px + (108 - 40) * ((100vw - 300px) / (1920 - 300)));
	font-weight: 400;
	text-align: left;
	line-height: 1.2;
}
#chapter-2-title-mobile {
	display: none;
}
h3 {
	font-family: 'GTWalsheim', sans-serif;
	font-size: calc(20px + (42 - 20) * ((100vw - 300px) / (1920 - 300)));
	text-align: left;
	font-weight: 400;
	line-height: 1.2;
}
.chapter-1 p,
.chapter-2 p,
.chapter-3 p,
.chapter-case p {
	max-width: 26em;
	font-family: 'SCTO', sans-serif;
	font-size: 1.4em;
	line-height: 2.8;
	text-align: left;
	font-weight: 400;
}
.two-column {
	margin-top: 300px;
	max-width: 1480px;
	min-width: 1000px;
	width: 50%;
}
.two-column--one {
	width: 35%;
	float: left;
}
.two-column--one p {
	font-family: 'GTWalsheim', sans-serif;
	font-size: calc(20px + (42 - 20) * ((100vw - 300px) / (1920 - 300)));
	line-height: 1.4;
	max-width: 264px;
}
.two-column--two {
	width: 60%;
	float: right;
}
.two-column--two-left {
	width: 60%;
	float: left;
}
.two-column--two p,
.two-column--two-left p {
	opacity: .6;
}
.two-column a {
	text-align: left;
	font-size: calc(20px + (62 - 20) * ((100vw - 300px) / (1920 - 300)));
	float: left;
	margin-top: 144px;
	margin-bottom: 276px;
}
.numbers {
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-between;
	margin-top: 212px;
	float: left;
	width: 70%;
	margin-bottom: 360px;
	max-width: 1380px;
	transition: .3s ease;
}
.numbers a {
	text-decoration: none;
	color: black;
}
.numbers ul {
	text-align: left;
}
.numbers-center ul {
	width: 8em;
}
.numbers ul li:nth-child(1) {
	padding-top: 92px;
}
.numbers ul li:nth-child(1) {
	font-size: 120px;
	font-size: calc(100px + (120 - 100) * ((100vw - 300px) / (1920 - 300)));
	font-family: 'GTWalsheim', sans-serif;
	font-weight: 400;
}
.numbers ul li:nth-child(2) {
	font-size: 20px;
	font-family: 'SCTO', sans-serif;
	letter-spacing: 0.6px;
	margin-top: 20px;
	opacity: .7;
	white-space: nowrap;
}
.numbers div:nth-child(n+4) {
	margin-top: 100px;
}
.numbers-left,
.numbers-center,
.numbers-right {
	width: 30%;
	text-align: left;
}
.numbers-left ul {
	float: left;
}
.numbers-center ul {
	margin: 0 auto
}
.numbers-right ul {
	float: right;
}
.numbers div {
	transition: .4s ease;
	user-select: none;
}
.numbers .nav-link:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: black;
	transition: width .4s ease;
	-webkit-transition: width .4s ease;
}
.numbers .nav-link:hover:after {
	width: 0%;
	left: 0;
}
ul li {
	list-style-type: none;
}
.line-break {
	width: 100%;
	height: 180px;
}
.drag-indicator {
	background-color: white;
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	border-radius: 50%;
	text-transform: uppercase;
}
.dragLayer-3 {
	background-color: #f4f4f4;
}
.dragLayer-4 {
	background-color: black;
	padding-top: 216px;
	padding-bottom: 0em;
	font-size: 100% !important;
	height: none !important;
}
.dragLayer-4 .flickity-viewport {
	height: 660px !important;
}
.dragLayer-4 .slide {
	height: auto !important;
	padding-bottom: 210px;
	width: 86%;
}
.dragLayer {
	user-select: none;
	background-color: #f4f4f4;
}
.dragLayer-4 .slide {
	margin-left: 0px;
}
.dragLayer-4 .slide p {
	max-width: 620px;
}
.dragLayer-4 .flickity-slider {
	width: 85%;
	min-height: 600px;
	max-width: 1480px;
	margin: 0 auto;
	position: relative !important;
}
.dragLayer-2 {
	background-color: #f4f4f4;
}
.dragLayer .slide img,
.dragLayer-2 .slide img,
.dragLayer-3 .slide img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 1920px;
}
.slide-timeline {
	color: #fafafa;
}
.slide-timeline p:nth-child(1) {
	font-size: 1.4em;
	font-weight: 100;
}
.slide-timeline p:nth-child(2) {
	margin-top: 2.4em;
	font-size: 3em;
	font-weight: 100;
}
.slider-timeline .slide {
  opacity: .5;
  transition: .4s ease; 
}
.slider-timeline .is-selected {
  opacity: 1 !important;
  transition: .4s ease; 
}
.slide-timeline p:nth-child(3) {
	font-size: 1.4em;
	margin-top: 1.5em;
	font-weight: 100;
	opacity: .6;
	line-height: 2;
	width: 50%;
}
.timeline-link {
	border-bottom: 1px solid white;
	text-decoration: none;
	color: #fafafa;
}
.slide {
	margin-right: 100px;
	margin-left: 100px;
	user-select: none !important;
	width: 60vw;
	min-width: 980px;
	min-height: 600px;
	height: 35vw;
	overflow: hidden;
}
.dragLayer .slide:nth-child(1),
.dragLayer-2 .slide:nth-child(1),
.dragLayer-3 .slide:nth-child(1) {
	margin-left: 500px;
}
.slider-timeline {
	height: initial !important;
}
.slider-1 {
	cursor: none;
}
.slider-1 .slide,
.slider {
	height: 100vh;
	width: 100vw;
	margin: 0px !important;
}
.flickity-page-dots li {
	font-size: 426px;
	position: absolute;
	font-family: 'GTWalsheim', sans-serif;
	background: transparent !important;
	opacity: 0;
}
footer {
	display: flex;
	align-items: center;
	padding-top: 360px;
	padding-bottom: 240px;
	min-height: 1vh;
	background-color: #f4f4f4;
	width: 100% !important;
}
footer ul {
	width: 100%;
	z-index: 4;
}
footer ul li {
	text-align: center;
	font-size: calc(140px + (212 - 140) * ((100vw - 300px) / (1920 - 300)));
	font-family: 'GTWalsheim', sans-serif;
	line-height: 1.2;
	padding-top: 40px;
	padding-bottom: 40px;
	opacity: 1;
	transition: opacity .4s ease;
}
footer li a {
	text-decoration: none;
	color: black;
}
.credits {
	height: 300px;
	text-align: center;
	line-height: 300px;
	font-family: 'SCTO', sans-serif;
	font-size: 22px;
	background-color: #f4f4f4;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
  }  
  .credits a {
	  width: 100px;
	  height: 200px;
	animation: heartbeat 1.4s infinite;
  }
  .credits img{
	  width: 300px;
  }
.tippy-tooltip.transparent-theme {
	background-color: transparent;
	transition-delay: 0.2s;
}
.tippy-tooltip.transparent-theme[data-animatefill] {
	background-color: transparent;
	transition-delay: 0.2s;
}
.tippy-tooltip.transparent-theme .tippy-backdrop {
	background-color: transparent;
	transition-delay: 0.2s;
}
.mobile-visible {
	display: none;
}
.loader {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: hidden;
	color: #fafafa;
	font-size: 56px;
	font-weight: 400;
	font-family: 'SCTO', sans-serif;
	flex-direction: column;
}
.loader nav p {
	text-align: center;
	animation: loaderNav .8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-webkit-animation-fill-mode: forwards;
}
.loader header h1 {
	animation-delay: .8s;
	-webkit-animation-fill-mode: forwards;
	animation: loaderHero 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.loader.hidden {
	animation: loaderOut 1s cubic-bezier(1.000, -0.060, 0.430, 1.185);
	animation-fill-mode: forwards;
}
.loader-copy {
	opacity: 1;
}
.loader img {
	position: absolute;
	width: 300px;
	z-index: -1;
	transform: rotate(-0deg);
	opacity: .4;
}
.loader-copy.hiddenCopy,
.loader-img.hiddenImg {
	transition: .8s cubic-bezier(1.000, -0.060, 0.430, 1.185);
	opacity: 0;
}
.loader-img.hiddenImg {
	transition: .8s cubic-bezier(1.000, -0.060, 0.430, 1.185);
	margin-top: -0vh;
	transform: rotate(6deg);
	opacity: 0;
}
.loader-copy span {
	animation: flickerAnimation 1s infinite;
}
.oScrollIntro {
	margin-top: 0vh;
}
.slider-1-mobile,
.slider-2-mobile,
.slider-3-mobile {
	display: none;
}
.what-more p,
.what-more span {
	transition: opacity .3s ease;
}
.what-more a {
	color: white;
	text-decoration: none;
}
@keyframes loaderOut {
	100% {
		height: 0%;
		visibility: hidden;
	}
}
@keyframes loaderNav {
	0% {
		transform: translateY(-10vh);
		opacity: 0 !important;
	}
	100% {
		transform: translateY(0vh);
		opacity: 1 !important;
	}
}
@keyframes loaderHero {
	0% {
		transform: translateY(30vh);
		opacity: 0 !important;
		margin: 40px 0px 40px 0px;
	}
	100% {
		transform: translateY(0vh);
		opacity: 1 !important;
		margin: 0px 0px 0px 0px;
	}
}
@keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	51% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes heartbeat
{
  0%
  {
    font-size: 20px;
  }
  20%
  {
    font-size: 24px;
  }
  40%
  {
    font-size: 20px;
  }
  60%
  {
    font-size: 24px;
  }
  80%
  {
    font-size: 20px;
  }
  100%
  {
    font-size: 20px;
  }
}
html {
	height: 100%;
	background-color: #151515;
}
body {
	margin: 0
}
.has-smooth-scroll body {
	height: 100%;
	width: 100%;
	overflow: hidden
}
.has-smooth-scroll .o-scroll {
	height: 100%;
	position: relative;
	overflow: hidden;
	transition: 1s ease;
	transition-delay: 0.6s;
	margin-top: 0vh;
	opacity: 1;
}
.scroll-content {
	overflow: auto;
	scrollbar-width: none;
}
body[data-wheel-reversed] .scroll-content {
	width: 200vw;
}
.o-scroll_example {
	font-size: 0;
	text-align: center
}
.o-scroll_example div {
	font-size: 1rem;
	display: inline-block;
	width: 40vw;
	margin: 30px;
	height: 500px;
	background-color: #00f;
	z-index: 10;
	position: relative
}
.o-scroll_example div .-sticky {
	z-index: 100;
}
.js-animate {
	opacity: 0;
	transition: opacity .6s ease-out
}
.js-animate.is-show {
	opacity: 1;
}
.js-animate.her-show {} .rotate-text {
	transform: rotate(180deg) !important;
}
.js-animate.is-red {
	transition: opacity 1s ease-out, background-color 1s ease-out .3s;
	opacity: 1;
}
@media only screen and (max-width: 1279px) {
	nav {
		font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1920 - 300)));
	}
	header h1 {
		font-size: calc(120px + (220 - 120) * ((100vw - 300px) / (1920 - 300)));
		line-height: calc(120px + (180 - 120) * ((100vw - 300px) / (1920 - 300)));
	}
	.numbers ul li:nth-child(1) {
		font-size: calc(80px + (100 - 80) * ((100vw - 300px) / (1920 - 300)));
	}
	.dragLayer-4 .flickity-slider {
		width: 75%;
	}
	.dragLayer-4 .slide {
		width: 66%;
	}
	.chapter-2 h2 {
		width: 75%;
	}
	.two-column {
		width: 75%;
		min-width: 0px;
	}
	.project-credits {
		width: 82%;
		padding-left: 9%;
		padding-right: 9%;
		margin: 0 auto;
	}
	.project-credits div {
		min-width: 0px;
		width: 90vw;
	}
	.flickity-slider {
		z-index: 1;
	}
	.flickity-page-dots {
		z-index: 0 !important;
	}
	.intro {
		margin-top: 240px;
	}
	nav {
		padding-top: 80px;
	}
	.chapter-1 {
		padding-top: 140px;
	}
	.numbers {
		margin-top: 140px;
		margin-bottom: 240px;
	}
	.chapter-2 {
		padding-top: 240px;
	}
	.intro-small p {
		margin-top: 160px;
	}

	.dragLayer-4 .flickity-viewport {
		height: 660px !important;
	}
	.big-number {
		font-size: calc(140px + (340 - 140) * ((100vw - 300px) / (1920 - 300)));
	}
	.big-projects-title {
		padding-top: 66px !important;
	}
	.two-column {
		margin-top: 240px;
	}
	.chapter-3 {
		padding-top: 40px;
	}
	.project-credits {
		padding-bottom: 246px;
		padding-top: 86px;
	}
	.what-more {
		padding-top: 140px;
	}
	footer {
		padding-top: 240px;
	}
}
@media only screen and (max-width: 967px) {
	#chapter-2-title {
		display: none;
	}
	#chapter-2-title-mobile {
		display: block;
	}
	nav p:nth-child(1),
	nav p:nth-child(2),
	nav p:nth-child(3) {
		display: none;
	}
	nav p:nth-child(4) {
		display: block;
		font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1920 - 300)));
	}
	.hero-title {
		display: none;
	}
	.hero-title-mobile {
		display: block;
		font-size: calc(60px + (240 - 60) * ((100vw - 300px) / (1920 - 300)));
		line-height: calc(60px + (200 - 60) * ((100vw - 300px) / (1920 - 300)));
	}
	.big-images img {
		width: 90vw;
	}
	footer ul li {
		font-size: calc(80px + (180 - 80) * ((100vw - 300px) / (1920 - 300)));
	}
	.project-credits ul li:nth-child(1) {
		font-size: 18px;
	}
	.project-credits ul li:nth-child(n+2) {
		font-size: 16px;
	}
	.slide-timeline p:nth-child(2) {
		font-size: calc(36px + (48 - 36) * ((100vw - 300px) / (1920 - 300)));
	}
	.slide-timeline p:nth-child(3) {
		font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1920 - 300)));
	}
	.intro p {
		font-size: calc(64px + (72 - 64) * ((100vw - 300px) / (1920 - 300)));
		width: 72vw;
	}
	.intro-small {
		width: 72%;
	}
	.intro-small p {
		max-width: initial;
	}
	.titles-mobile {
		font-family: 'GTWalsheim', sans-serif !important;
		line-height: 1.05 !important;
		width: 72% !important;
		font-weight: 400;
		display: block;
		font-size: calc(120px + (180 - 120) * ((100vw - 300px) / (1920 - 300))) !important;
	}
	.big-number {
		display: none;
	}
	.intro-small p {
		margin-top: 68px;
	}
	.numbers {
		width: 80%;
	}
	.numbers ul li:nth-child(2) {
		font-size: 16px;
	}
	.numbers ul li:nth-child(1) {
		font-size: calc(60px + (80 - 60) * ((100vw - 300px) / (1920 - 300)));
	}
	.chapter-1 {
		padding-top: 240px;
	}
	.dragLayer-4 .flickity-viewport {
		height: 480px !important;
	}
	.slider-timeline {
		background-color: black;
	}
	.loader nav p {
		display: block;
		font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1920 - 300)));
	}
	.loader nav p span {
		display: none;
	}
	.intro-small a {
		border-bottom: initial;
	}
	.numbers-gif {
		width: 0px;
	}
	.credits {
		height: 240px;
		line-height: 240px;
	}
}
@media only screen and (max-width: 620px) {
	nav {
		padding-top: 60px;
		height: 120px;
	}
	.chapter-1 {
		padding-top: 180px;
	}
	.numbers {
		margin-top: 0px;
		margin-bottom: 140px;
	}
	.numbers-left,
	.numbers-center,
	.numbers-right {
		width: 50%;
	}
	.numbers ul li:nth-child(2) {
		font-size: 18px;
	}
	.numbers ul li:nth-child(1) {
		font-size: calc(65px + (110 - 65) * ((100vw - 300px) / (1920 - 300)));
	}
	.numbers-right ul {
		width: 8em;
		float: initial;
	}
	.numbers div:nth-child(n+4) {
		margin-top: 0px;
	}
	.numbers div:nth-child(even) {
		margin: 0 auto;
		width: 8em;
	}
	.numbers-center ul {
		margin: initial;
	}
	.dragLayer-4 .slide {
		width: 100%;
		padding-right: 120px;
	}
	.slide {
		min-width: 320px;
	}
	.slide-timeline p:nth-child(3) {
		width: initial;
	}
	.chapter-2 {
		padding-top: 120px;
	}
	.two-column {
		margin-top: 68px;
	}
	.two-column--one {
		width: 100%;
		margin-bottom: 28px;
	}
	.two-column--two {
		width: 90%;
		float: left;
	}
	.chapter-case {
		padding-top: 180px;
	}
	.mobile-none {
		display: none;
	}
	.mobile-visible {
		display: block;
	}
	.slider-1 .slide {
		width: 150%;
	}
	.flickity-page-dots {
		width: 100% !important;
	}
	.flickity-page-dots .dot {
		font-size: calc(300px + (426 - 300) * ((100vw - 300px) / (1920 - 300)));
	}
	.line-break {
		height: 80px;
	}
	.social-in-between p {
		font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1920 - 300)));
	}
	.project-credits {
		width: 76%;
		padding-left: 12%;
		padding-right: 12%;
		margin: 0 auto;
	}
	.project-credits div {
		width: 100%;
	}
	.intro {
		margin-top: 120px;
	}
	.intro p {
		font-size: calc(48px + (60 - 48) * ((100vw - 300px) / (1920 - 300)));
		width: 80vw;
		line-height: 1.45;
	}
	.titles-mobile {
		font-size: calc(90px + (140 - 90) * ((100vw - 300px) / (1920 - 300))) !important;
	}
	.social-in-between {
		height: 70vh;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.social-in-between video {
		opacity: 1 !important;
	}
	.social-in-between img {
		display: none;
	}
	.underline {
		border-bottom: 4px solid white;
	}
	.me-hover-img {
		max-width: 500px;
		width: 90%;
		z-index: 1;
	}
	footer {
		padding-bottom: 40px;
	}
	footer ul li {
		font-size: calc(50px + (120 - 50) * ((100vw - 300px) / (1920 - 300)));
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.dragLayer-4 {
		padding-top: 120px;
	}
	.slider-timeline {
		height: initial;
	}
	.slider-1 {
		display: none;
	}
	.slider-1 .flickity-viewport {
		height: 50vh !important;
		overflow: visible;
	}
	.slider-1-mobile,
	.slider-2-mobile,
	.slider-3-mobile {
		display: block;
		padding-top: 86px;
		background-color: #f4f4f4;
	}
	.slider-1-mobile p,
	.slider-2-mobile p,
	.slider-3-mobile p {
		position: absolute;
		z-index: 9;
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
		justify-content: center;
		font-family: 'SCTO', sans-serif;
	}
	.slider-1-mobile p a,
	.slider-2-mobile p a,
	.slider-3-mobile p a {
		background-color: rgba(0, 0, 0, 0.3);
		color: #fafafa;
		padding: 20px 30px 20px 30px;
		border-radius: 40px;
		overflow: hidden;
		transition: .6s ease;
	}
	.slider-1-mobile .slide,
	.slider-2-mobile .slide,
	.slider-3-mobile .slide {
		width: 100%;
		margin: 0;
		height: initial;
		min-height: initial;
	}
	.slider-1-mobile .flickity-viewport,
	.slider-2-mobile .flickity-viewport,
	.slider-3-mobile .flickity-viewport {
		max-height: 500px;
	}
	.numbers ul li:nth-child(2) {
		white-space: initial;
	}
	.loader header h1 {
		animation: initial;
	}
	.two-column a {
		font-size: calc(28px + (62 - 28) * ((100vw - 300px) / (1920 - 300)));
	}
	.credits {
		height: 160px;
		font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
	}
}
@media only screen and (max-width: 375px) {
	.slide {
		min-width: 250px;
	}
}
@media only screen and (max-width: 321px) {
	nav p:nth-child(4) {
		font-size: 18px;
	}
}