html{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100%;

}

.preloader{
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  background: #000;
  position: fixed;
  animation: preloader 10s;
  z-index: 100;
}

.loader{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

 
}

.loader path{
    stroke: #fff;
    fill: #fff;
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
    opacity: 10;
    animation: loader 3s cubic-bezier(0,0.23,1,.1)  ;
}

@keyframes loader{
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 2000;
}

30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 2000;
}

90% {
    fill: rgba(255, 255, 255, 0);
}


100% {
    opacity: 10;
    fill: rgb(255, 255, 255);
    stroke-dashoffset: 0;
}
}
@-moz-keyframes loader{
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
}

30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
}

90% {
    fill: rgba(255, 255, 255, 0);
}


100% {
    opacity: 10;
    fill: rgb(255, 255, 255);
    stroke-dashoffset: 0;
}
}
@-webkit-keyframes loader{
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
}

30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
}

90% {
    fill: rgba(255, 255, 255, 0);
}


100% {
    opacity: 10;
    fill: rgb(255, 255, 255);
    stroke-dashoffset: 0;
}
}
@keyframes preloader{
  0%{
      left: 0%;
  }
  20%{
      left:0%;
  }
  50%{
      left:0%;
  }
  80%{
      left:0%;
      transform: skewX(0deg);
  }

  100%{
      left:-150%;
      transform: skewX(20deg);
  }

}

@-moz-keyframes preloader{
  0%{
      left: 0%;
  }
  20%{
      left:0%;
  }
  50%{
      left:0%;
  }
  80%{
      left:0%;
  }
  100%{
      left:-150%;
      transform: skewX(20deg);
  }
}

@-webkit-keyframes preloader{
  0%{
      left: 0%;
  }
  20%{
      left:0%;
  }
  50%{
      left:0%;
  }
  80%{
      left:0%;
  }

  100%{
      left:-150%;
      transform: skewX(20deg);
  }
}

.logo{
 
    left: 0;
    position: fixed;
    top: auto;
    background-color: #fff;
    bottom: 0;
    height: 50%;
    overflow: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 94px;
    z-index: 11;
    transform: matrix(1, 0, 0, 1, 0, 0);
    animation: logoenter .5s ease-in 4.3s;
    transition-duration: .8s
}
@keyframes logoenter{
 from{left: -100%;}
 to{left: 0;}
}

.logo a{
    text-decoration: none;
    color: #000;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    display: block;
    left: -10px;
    position: relative;
    top: 70%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    transition-duration: .5s
}
.logosmall {
  background-color:transparent;
  transition-duration: .5s
}
.logosmall a{
    color: #fff;
    transition-duration: .5s
}


nav{
    position: fixed;
    right: 10%;
    top: 72px;
    z-index: 5;
    transition: .5s
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}

li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    transition: .2s

}

li a:hover{
    color: #a1a1a1;
}

.menu-toggle{
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 20;
 display: none;
 transition: .5s
}
.menu-btn {
  display: block;
  width: 35px;
  height: 20px;
  margin: 20% auto 0 auto;
}

.menu-btn-block {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 3px;
  transform-origin: 0 50%;
  transition: transform 0.3s ease;
}

.menu-btn-block {
  margin: 10px 0;
}

.menu-btn-block.on {
  margin: 20px 0;
  background-color: #fff;
}
.menu-btn-block.top.on {
  transform: rotate(40.682deg);
}
.menu-btn-block.bottom.on {
  transform: rotate(-40.682deg);
}

.menu-wrapper{
  position: fixed;
  width: 100%;
  height: 100vh;
  right: -200%;
  z-index: 10;
  background: #000;
  overflow: hidden;
  
}

.menu-content{
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(-50%,-50%);
}

.menu-word a{
text-decoration: none;
  display: block;
  text-align: right;
  font-family: 'Roboto',sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding-top: 20px; 
  cursor: pointer;
  
}
.menu-word:hover{
  color: #a1a1a1;
}

.menu-wrapper.on{
  display: block;
  right: 0;
  animation: menuOn .5s ;
}
@-moz-keyframes menuOn{
  from {right:-100%; opacity:0;transform: skewX(-20deg);} 
  to {right:0; opacity:1; transform: skewX(0);}
}
@-webkit-keyframes menuOn {
  from {right:-100%; opacity:0; transform: skewX(-20deg);} 
  to {right:0; opacity:1; transform: skewX(0);}
}

@keyframes menuOn {
  from {right:-100%; opacity:0;transform: skewX(-20deg);} 
  to {right:0; opacity:1; transform: skewX(0);}
}
.menu-wrapper.off{
  animation: menuOff .5s ;
  display: block;
}
@-moz-keyframes menuOff{
  from {right:0; opacity:1; transform: skewX(0deg);} 
  to {right:-100%; opacity:0;  transform: skewX(-20deg);}
}
@-webkit-keyframes menuOff {
  from {right:0; opacity:1; transform: skewX(0deg);} 
  to {right:-100%; opacity:0;  transform: skewX(-20deg);}
}

@keyframes menuOff {
  from {right:0; opacity:1; transform: skewX(0deg);} 
  to {right:-100%; opacity:0;  transform: skewX(-20deg);}
  
}




.menu-details-list{
position: absolute;
bottom: 10%;
right: 1rem;
text-align: right;
}

.menu-details-list a{
  text-align: right;
    text-decoration: none;
    color: #fff;
    line-height: 200%;
    font-size: 0.9rem;
    padding-top: 15px;
}

.menu-details-list a:hover{
  color:#a1a1a1;
}


.header{
    width: 100%;
    height: 100vh;
    background-color: #0c0c0c;
    overflow: hidden;
  
}
  #container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #slides {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #slides .slide {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  #slides .slide .title {
    position: absolute;
    top: calc(50% - 0.5em);
    right: 20px;
    z-index: 2;
    padding-top: 5px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 5em;
    color: white;
    overflow: hidden;
  }
  #slides .slide .title .title-text {
    display: block;
    -webkit-transform: translateY(1.2em);
            transform: translateY(1.2em);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  #slides .slide .slide-partial {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  #slides .slide .slide-partial img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  #slides .slide .slide-left {
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  #slides .slide .slide-left img {
    top: 0;
    right: 0;
    -o-object-position: 100% 50%;
       object-position: 100% 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  #slides .slide .slide-right {
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  #slides .slide .slide-right img {
    top: 0;
    left: 0;
    -o-object-position: 0% 50%;
       object-position: 0% 50%;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #slides .slide.active .title .title-text {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  #slides .slide.active .slide-partial, #slides .slide.active .slide-partial img {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  
  #slide-select {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: white;
  }
  #slide-select li {
    position: relative;
    cursor: pointer;
    margin: 0 5px;
  }
  #slide-select .fa {
    font-size: 1.25em;
    line-height: 1.25em;
  }
  #slide-select .fa.prev:hover {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  #slide-select .fa.next:hover {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  #slide-select .selector {
    height: 14px;
    width: 14px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  #slide-select .selector.current {
    background-color: white;
  }
  
  .about-us{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;  
   
}
.about-content{
    position: absolute;
    top: 10%;
    max-width: 1800px;
    width: 70%;
    left: 10%;
    height: 100vh;
}

.about-content p{
    color: #fff;
    font-size: 1.27rem;
    font-weight:300;
    font-family:'Roboto',sans-serif;

}

.line{
  margin: 0;
  padding: 0;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: #fff;
  font-size: 1.27rem;
  font-weight:300;
  font-family:'Roboto',sans-serif;
  width: 25em;
  overflow: hidden;
  white-space: nowrap;

}
.anim-typewriter{
  animation: typewriter 10s steps(40) 1s infinite normal both,
  blinkTextcursor 500ms steps(40) infinite normal
}

@keyframes typewriter{
  0%{
    width: 0;
  }
  50%{
    width: 25em;
  }
  100%{
    width: 0;
  }
}

@keyframes blinkTextcursor{
  from{
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to{
    border-right-color: transparent;
  }
}
.about-details{
  height: 100%;
  width: 20%;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  padding-top: 20px;
}

.about-details p {
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}


.about-details-list{
position: absolute;
width: 100%;
height: 100%;
top: 10%;
bottom: 0;
}

.about-details-list p{
    text-decoration: none;
    color: #fff;
    line-height: 200%;
    font-size: 0.8rem;
    padding-top: 15px;
}





  #timeline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1a1a1a;
  }
  #timeline:hover .tl-item {
    width: 23.3333%;
  }
  
  .tl-item {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
  }
  .tl-item:before, .tl-item:after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .tl-item:after {
    background: rgba(26, 26, 26, 0.74);
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }
  .tl-item:before {
    background: -webkit-linear-gradient(top, transparent 0%, black 75%);
    background: linear-gradient(to bottom, transparent 0%, black 75%);
    z-index: 1;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translateY(50%);
            transform: translate3d(0, 0, 0) translateY(50%);
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .tl-item:hover {
    width: 30% !important;
  }
  .tl-item:hover:after {
    opacity: 0;
  }
  .tl-item:hover:before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
            transform: translate3d(0, 0, 0) translateY(0);
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
    transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
  }
  .tl-item:hover .tl-content {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 0.75s ease 0.5s;
    transition: all 0.75s ease 0.5s;
  }
  .tl-item:hover .tl-bg {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  
  .tl-content {
    -webkit-transform: translate3d(0, 0, 0) translateY(25px);
            transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
  }
  .tl-content h1 {
    font-family: 'Reem Kufi',sans-serif;
    text-transform: uppercase;
    color: #c1c1c1c1;
    font-size: 1.44rem;
    font-weight: normal;
  }
  
  .tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .tl-year p {
    font-family: 'Roboto',sans-serif;
    font-size: 1.728rem;
    line-height: 0;
  }
  
  .tl-bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    -webkit-transition: -webkit-filter 0.5s ease;
    transition: -webkit-filter 0.5s ease;
    transition: filter 0.5s ease;
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }



.contact{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      background-color: #000;
      background-image: url(Images/conBg.png);
      background-size: cover;
      background-position: center;
      position: relative;  
     
  }
  .contact-content{
      position: absolute;
      top: 10%;
      max-width: 1800px;
      width: 70%;
      left: 10%;
      height: 70vh;
  }

  .contact-content p{
    position: absolute;
      top: 10%;
      color: #fff;
      font-size: 1.2rem;
      font-family:'Roboto',sans-serif;

  }
  .contact-content .email{
    position: absolute;
    top: 50%;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
  }

  .contact-details{
    position: absolute;
    right: 0;
    bottom: 50px;
    padding-top: 15px;
  }

  .contact-details p {
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
  }

 
.contact-details-list{
  position: absolute;
  top: 200%;
}

  .contact-details-list a{
      text-decoration: none;
      color: #fff;
      line-height: 200%;
      font-size: 0.8rem;
      padding-top: 15px;
  }

  .contact-details-list a:hover{
    color:#a1a1a1;
  }